html, body, nav, main {
    height: 100%;
    margin: 0;
}

html, body {
    width: 100%;
}

body {
    background-color: #000000;
    color: #888888;
    font-family: 'Press Start 2P', cursive;    
    display: flex;
}

a, #leader-board th {
    color: rgb(46, 219, 46);
}

a:link, a:visited {
    text-decoration: none;
}

nav {
    background-color: #222222;
    height: 100%;
    width: 25%
}

nav h1 {
    margin-left: 20px;
    font-size: 0.9em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li, #leader-board td {
    font-size: 0.8em;
}

#links__logout {
    display: none;  // override in the login() function
}

main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leader-board th, #leader-board td {
    padding: 10px;
}
